//- button mixins
//- anchor buttons
mixin a-btn(url, options)
	- const method = _.get(options, 'method', 'get').toLowerCase();
	- const styles = attributes.class === undefined ? '' : ` ${attributes.class}`;
	a.btn(class=`${styles}`, href=url, role="button", data-method= method)&attributes(attributes)
		block
