extends /layouts/application.pug

block content
  .mx-auto.border.rounded.p-3.col-md-6
    h1.text-center.mb-3.font-weight-normal Edit task
    +formFor(f, { url: urlFor('update task', { id: task.id }), method: 'put' })
      +input(f, 'name', { label: 'Name' , required: true})
      +select(f, 'status', { label: 'Status', values: statusOptions })
      +textarea(f, 'description', { label: 'Description' })
      +select(f, 'assignedToId', { label: 'Assign to', values: usersOptions })
      +input(f, 'tags', { label: 'Tags', values: selectedTags, required: true })
      //- +select(f, 'tags', { label: 'Tags', values: tagsOptions, multiple: true })
      .clearfix.form-group
        .float-right
          +button(f, 'submit', { value: 'Update' }).mr-1
          +a-btn(urlFor('delete task', { id: task.id }), { method: 'delete' })(data-confirm='Are you sure you want to delete the task?').btn-danger Delete
