extends /layouts/application.pug

block content
  .mx-auto.border.rounded.p-3.col-md-6
    h1.text-center.mb-3.font-weight-normal Edit task
    +formFor(f, { url: urlFor('update task', { id: task.id }), method: 'put' })
      +input(f, 'name', { label: 'Name' , required: true})
      +select(f, 'status', { label: 'Status', values: statusOptions })
      +textarea(f, 'description', { label: 'Description' })
      +select(f, 'assignedTo', { label: 'Assign to', values: usersOptions })
      +select(f, 'tags', { label: 'Tags', values: tagsOptions, multiple: true })
      .form-group
        +button(f, 'submit', { value: 'Update' }).mr-1
        +a-btn-danger(urlFor('delete task', {id: task.id }), { method: 'delete' }) Delete
