extends /layouts/application.pug

block content
  .mx-auto.border.rounded.p-3.col-md-6
    h1.text-center.mb-3.font-weight-normal Basic info New task
    +formFor(f, { url: urlFor('task'), method: 'post' })
        +input(f, 'name', { label: 'Name' , required: true})
        +textarea(f, 'description', { label: 'Description' })
        +select(f, 'assignedTo', { label: 'Assign to', values: usersOptions })
        +select(f, 'tags', { label: 'Tags', values: tagsOptions, multiple: true })
        //+input(f, 'status', { label: 'Status'})
        +button(f, 'submit', { value: 'Create' })
