extends /layouts/application.pug

block content
  .mx-auto.border.rounded.p-3.col-sm-4
    h1.text-center.mb-3.font-weight-normal Basic info
    +formFor(f, { url: urlFor('users put',{ id: user.id}), method: 'put' })
      +input(f, 'email', { label: 'Email', required: true})
      +input(f, 'firstName', { label: 'First name', required: true})
      +input(f, 'lastName', { label: 'Last name', required: true})
      .clearfix.form-group
        .float-right
          +button(f, 'submit', { value: 'Update' }).mr-1
          +a-btn(urlFor('users delete', { id: user.id }), { method: 'delete' })(data-confirm='Are you sure you want to delete the user?').btn-danger Delete
