extends /layouts/application.pug

block content
  .mx-auto.border.rounded.p-3.col-sm-4
    h1.text-center.mb-3.font-weight-normal Sign up
    +formFor(f, { url: urlFor('user'), method: 'post' })
        +input(f, 'email', { label: 'Email', required: true })
        +input(f, 'firstName', { label: 'First name', required: true })
        +input(f, 'lastName', { label: 'Last name', required: true })
        +input(f, 'password', { as: 'password', label: 'Password', required: true })
        +button(f, 'submit', { value: 'Create' })
